.collections-page {

    width: 100%;

    max-width: 700px;

    margin: 0 auto;

}


.collection-list {

    display: flex;

    flex-direction: column;

    gap: var(--spacing-medium);

    margin-bottom: var(--spacing-large);

}

.collection-info {

    display: flex;

    flex-direction: column;

    gap: var(--spacing-small);

}


.collection-name {

    font-size: var(--font-medium);

}


.collection-count {

    font-size: var(--font-small);

    opacity: 0.7;

}


.collection-arrow {

    font-size: 28px;

}